ul li {
    border: 1px solid rgb(92, 248, 19);
    background-color: rgb(17, 240, 240);
    padding: 20px;
    color: rgb(20, 136, 238);
    font-size: 100px;
    margin: 25px;
    width: 500px;
    border-radius: 15px;
}

h1 {
    margin: 25px 55px 15px;
    font-size: 100px;
    color: rgb(14, 231, 247);
}